<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="request.png" type="image/x-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container has-text-centered">
      <h1 class="title navbar-item is-justify-content-center">
        Request Header Parser Microservice
      </h1>
      <hr />
      <div class="block">
        <img src="request.png" alt="request" style="width: 200px" />
      </div>
      <div class="block">
        <h3 class="subtitle">Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>
      </div>

      <div class="block">
        <h3 class="subtitle">Example Output:</h3>
        <p>
          <code
            >{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
            (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
            Firefox/50.0"}</code
          >
        </p>
      </div>

      <div class="footer">
        <p>By <a href="https://github.com/camilojimenezj">Camilo Jimenez</a></p>
      </div>
    </div>
  </body>
</html>
